* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #f2ebe3;
}
div.container {
    display: flex;
    border-radius: 10px;
    margin: 100px auto 20px;
    box-shadow: 0 0.5rem 1rem #0000001a;
    overflow: hidden;
    transition: 0.6s ease;
}
@media (min-width: 768px) {
    div.container {
        max-width: 50%;
    }
}

div.container:hover {
    box-shadow: 0 20px 32px #00000030;
}
.image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition:  0.6s ;
}
.image img:hover {
    transform: scale(1.1);
}
.taxt {
    padding: 30px;
    background-color: white;
}
.taxt h1 {
    font-size: 40px;
    font-weight: 700;
}
.taxt .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.taxt .price .current-price {
    font-size: 24px;
    font-weight: 700;
    color: #3c8067;
}
.add-cart button {
    background-color: #3c8067;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.6s ;
}

.add-cart button:hover {
    background-color: #366851;
}
.add-cart button i {
    margin-right: 10px;
}
.link {
    margin-top: 20px;
    text-align: center;
}
.link a {
    color: #3E52A3;
    transition: color 0.6s;
    font-weight: bold;
}
/* media */
@media (max-width: 767px) {
    .container {
        flex-direction: column;
        text-align: center;
        width: 80% !important;
    }
}